/* Reset */
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* list-style: none; */
}
/* root variable */
:root {
  --color-primary: #ff7a50;
  --color-badge-primary: #ff5722;
  --color-secondary-light: #fff6f2;
  --color-secondary-dark: #ffa589;
  --color-white: #fff;
  --color-body: #e5e5e5;
  --color-navbar: #f8f8f8;
  --color-font-heading: #000;
  --color-font-body: #333333;
  --color-tik: #00a344;
  --color-border: #ddd;
  --color-border-input: #e8e8e8;
  --color-input: #f5f5f5;
  --color-footer-icon: #ababab;
  --color-font-navbar: #545454;
}
/* body */
body {
  color: var(--color-body);
  font-size: 1.4rem;
}

/* heading */
h1,
h2,
h3 {
  color: var(--color-font-heading);
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
}
/* button */
.btn {
  font-size: 1.4rem;
  padding: 19px 24px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: var(--color-white);
  margin: 1rem 0;
  white-space: nowrap;
}

.btn--primary {
  background-color: var(--color-badge-primary);
  color: var(--color-white);
}
.btn--secondary {
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}
.btn--blcok {
  width: 100%;
  font-size: 1.6rem;
}
@media (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
  .btn--blcok {
    font-size: 2rem;
  }
}
/* badge */
.badge {
  border: 2px solid var(--color-badge-primary);
  padding: 9px 10px;
  border-radius: 32px;
  margin: 1rem;
  font-size: 1.2rem;
  color: var(--color-badge-primary);
  background-color: var(--color-secondary-light);
  text-transform: uppercase;
}

.badge-primary {
  color: var(--color-white);
  background-color: var(--color-badge-primary);
}
@media (min-width: 1024px) {
  .badge {
    font-size: 1.4rem;
  }
}

/* list */
.list {
  color: var(--color-font-heading);
  font-size: 1.4rem;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.list--vertical {
  flex-direction: row;
}
.list__item {
  padding-left: 1rem;
}
.fa-check-square {
  padding-left: 0.5rem;
  font-size: 2rem;
  color: var(--color-tik);
}
@media (min-width: 1024) {
  .list {
    font-size: 1.8rem;
  }
}

/* plan */
.block-plan {
  display: grid;
  gap: 8rem 4rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
}
.plan {
  border-radius: 20px;
  /* max-width: 311px; */
  overflow: hidden;
  transition: all 0.5s;
}
.card__body,
.card__header {
  padding: 3rem 2.5rem;
}
.card__header {
  /* height: 185px; */
  background-color: var(--color-secondary-dark);
  color: var(--color-white);
}
.card__body {
  /* height: 435px; */
  background-color: var(--color-secondary-light);
}
.card__primary {
  background-color: var(--color-primary);
}
.plan__intruduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.plane__price {
  font-size: 3rem;
}
.plane__billing-cycle {
  font-size: 1.4rem;
}
.plane__desc {
  font-size: 1.8rem;
  display: block;
  margin-top: 1.5rem;
}
.plan--popular {
  transform: scale(1.1);
}
.card__body .list__item,
.card__body i {
  font-size: 1.8rem;
  padding-top: 1rem;
}

.card__body .btn--blcok {
  height: 53px;
  max-width: 255px;
  padding: 15px 80px;
  font-size: 1.6rem;
  margin-top: 10rem;
}
.plan:hover {
  transform: scale(1.05);
}
.plan--popular:hover {
  transform: scale(1.15);
}
@media (min-width: 1024px) {
  .block-plan {
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 2rem 3rem;
  }
}

/* container */
.container {
  max-width: 1148px;
  margin: 0 auto;
}

/* feautre */
.feature {
  display: grid;
}
.feature--image {
  display: flex;
  justify-content: center;
}
.feature--image img {
  width: 70%;
  height: auto;
}
.feature--detail p {
  color: var(--color-font-body);
  text-align: justify;
  padding-bottom: 2rem;
}

.feature--detail h2 {
  padding-bottom: 2rem;
}
.feature .btn--primary {
  padding: 1.5rem 3rem;
}
@media (min-width: 1024px) {
  .feature {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature--image {
    order: 2;
  }
  .feature--image img {
    width: 90%;
    height: auto;
  }
  .feature--detail {
    width: 80%;
    margin: 1rem auto;
  }
  .feature--detail p {
    line-height: 3rem;
  }
}

/* contact us */

.contactus > h2 {
  grid-area: h2;
  text-align: center;
  padding: 2rem;
  font-size: 3.5rem;
}
.contactus > h3 {
  grid-area: h3;
  font-size: 2.4rem;
  text-align: center;
}
.contactus__social {
  grid-area: social;
  width: 70%;
  margin: 0 auto;
  font-size: 3rem;
  color: var(--color-badge-primary);
  display: flex;
  justify-content: space-evenly;
  padding: 3rem 0;
}
.contactus__info {
  grid-area: info;
  padding: 3rem 0;
}
.contactus__info i {
  padding-left: 1.3rem;
  color: var(--color-badge-primary);
  font-size: 3rem;
}

.contactus__info div {
  padding-bottom: 1rem;
  color: var(--color-font-body);
  display: flex;
  align-content: center;
}
.contactus__info div br {
  display: none;
}
.contactus__form {
  grid-area: form;
  border-radius: 20px;
  border: 1px solid var(--color-border);
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  text-align: center;
  display: flex;
  flex-direction: column;
}
.contactus__form > h3 {
  margin: 3rem 0;
}
.contactus__form input,
.contactus__form textarea {
  border: 1px solid var(--color-border-input);
  background-color: var(--color-border);
  border-radius: 39px;
  font-size: 1.5rem;
  padding: 1.2rem 1.5rem;
  font-family: BYekan;
  margin: 0 auto 2rem auto;
  width: 80%;
  outline: none;
}
.contactus__form textarea {
  border-radius: 5px;
  resize: none;
}
.contactus__form input:focus,
.contactus__form textarea:focus {
  border: 2px solid var(--color-primary);
}
.contactus__form input[type="email"] {
  text-align: left;
}
.contactus__form input[type="email"]::placeholder {
  text-align: right;
}
.contactus__form .btn {
  width: 14.5rem;
  height: 5.6rem;
  margin: 0 auto 2rem auto;
}
.contactus__map {
  display: none;
}
@media (min-width: 1024px) {
  .contactus > h3 {
    font-size: 2.8rem;
  }
  .contactus {
    display: grid;
    grid-template-areas:
      "h2 h2" "h3 h3" " info form" " map form"
      " social form";
  }
  .contactus__social {
    width: 30%;
    margin: 0 auto 0 2rem;
    font-size: 3rem;
    color: var(--color-badge-primary);
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 0;
  }
  .contactus__info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .contactus__info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 2rem;
  }
  .contactus__info .fa {
    padding-bottom: 2rem;
  }
  .contactus__info div br {
    display: inline;
  }
  .contactus__map {
    display: block;
    height: 100%;
    width: auto;
    margin: 0 auto;
  }
}

/* footer */
footer {
  /* display: grid; */
  background-color: var(--color-font-heading);
  line-height: 3rem;
}
footer .list,
footer h1,
footer h2,
h3 {
  color: var(--color-white);
}
footer h1 {
  font-size: 4rem;
}
footer h1,
h2 {
  padding-bottom: 0.8rem;
}
footer div {
  margin-bottom: 2rem;
}
.namad {
  display: flex;
  justify-content: space-evenly;
}
.namad img {
  width: auto;
  height: 150px;
  border-radius: 10px;
  margin-left: 1rem;
}
.social-icon {
  display: flex;
  justify-content: space-evenly;
  font-size: 2.5rem;
  padding: 3rem 0 4rem 0;
}
.footer__color {
  color: var(--color-footer-icon);
}
@media (min-width: 1024px) {
  footer .container {
    display: grid;
    grid-template-areas:
      "tapsi tapsi1 mosafer driver business namad"
      "hoghogh tapsi1 mosafer driver business namad"
      "social-icon   tapsi1 mosafer driver business namad";
    padding: 4rem 0 4rem 0;
    grid-template-columns: 1.3fr 1fr 1fr 1fr 1fr 1.5fr;
  }
  footer .container div {
    margin-left: 1rem;
  }
  .footer__tapsi {
    grid-area: tapsi;
  }
  .footer__tapsi1 {
    grid-area: tapsi1;
  }
  .footer__mosafer {
    grid-area: mosafer;
  }
  .footer__driver {
    grid-area: driver;
  }
  .footer__business {
    grid-area: business;
  }
  .footer__hoghogh {
    grid-area: hoghogh;
  }
  .namad {
    grid-area: namad;
  }
  .footer__icon {
    grid-area: social-icon;
  }
  .social-icon {
    padding: 0;
  }
  .namad img {
    width: auto;
    height: 100px;
    margin-left: 0.2rem;
  }
  footer h2 {
    font-size: 2.3rem;
  }
}

/* Header */
.header {
  max-height: 60px;
  background-color: var(--color-navbar);
}
.header__main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__icon img {
  max-height: 50px;
}

.header__main .btn {
  max-height: 50px;
  padding: 0.9rem 4rem;
  margin: 0;
}
.header__main .list {
  align-items: center;
}
.header__main .list__item a {
  text-decoration: none;
  color: var(--color-font-navbar);
  font-size: 1.7rem;
}
.header__main .list__item {
  padding-left: 3rem;
}
.nav__toggler {
  display: none;
}
@media (max-width: 1024px) {
  .header__main {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .header__main .btn {
    display: none;
  }
  .header .list--vertical {
    flex-direction: column-reverse;
    display: block;
    width: 100%;
    background-color: var(--color-white);
    border-top: 1px solid var(--color-footer-icon);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .header .list__item {
    padding: 1rem;
  }
  .nav__toggler {
    /* font-size: 4rem;
    color: var(--color-badge-primary); */
    display: block;
    cursor: pointer;
  }
  .nav__toggler .bar {
    width: 40px;
    height: 8px;
    background-color: var(--color-badge-primary);
    margin-bottom: 7px;
    transition: all 0.5s;
  }
  .header__main.nav__expanded .list--vertical {
    max-height: 100vh;
    opacity: 1;
  }
  .header__main.nav__expanded .bar--one {
    transform: rotate(-45deg) translate(0, 10px);
  }
  .header__main.nav__expanded .bar--three {
    transform: rotate(45deg) translate(0, -10px);
  }
  .header__main.nav__expanded .bar--two {
    display: none;
  }
}

/* HERO */
.hero-section {
  background-color: #00a344;
  width: 100%;
  height: 478px;
}
.banner-img {
  width: 100%;
  height: 100%;
}
.intro-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 478px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-btn {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    68.18deg,
    rgba(23, 26, 60, 0.7) 4.77%,
    rgba(23, 26, 60, 0.3) 98.84%
  );
  border-radius: 32px;
  padding: 2.5rem;
}
.hero-wrapper {
  display: flex;
  flex-direction: column;
}
.intro-btn h1 {
  font-size: 2.5rem;
  color: var(--color-white);
}
.intro-btn h2 {
  font-size: 1.6rem;
  color: var(--color-white);
  margin-bottom: 1rem;
}
.intro-btn--button {
  padding: 1.5rem 2.5rem;
  background-color: var(--color-white);
  color: var(--color-font-heading);
  text-decoration: none;
  margin-bottom: 1rem;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro-btn--button span {
  width: 100%;
  text-align: center;
}
.btn__hidden {
  background-color: transparent;
  border: 2px solid var(--color-white);
  color: var(--color-white);
}
.banner-phone {
  display: none;
}
@media (min-width: 768px) {
  .intro-wrapper {
    justify-content: start;
  }
  .intro-btn h1 {
    font-size: 4rem;
    width: 100%;
  }
  .intro-btn h2 {
    font-size: 2rem;
    width: 100%;
    margin-bottom: 0;
  }
  .intro-btn {
    width: 528px;
    height: 60%;
    margin-right: 1rem;
  }
  .hero-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .intro-btn--button {
    width: 224px;
    height: 56px;
    margin-left: 1rem;
    margin-bottom: 0;
  }
  .banner-phone {
    display: inline;
    position: absolute;
    left: 10%;
    bottom: -15%;
    height: 100%;
  }
}

/* SERVICES */
.services__tabs {
  display: flex;
  overflow: auto;
  justify-content: space-evenly;
  padding: 1.5rem 0 2.5rem;
}
.services__tabs .tab {
  text-decoration: none;
  color: var(--color-font-navbar);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
  opacity: 0.5;
  transition: all 0.2s ease-out;
}
.services__tabs .tab:hover {
  opacity: 1;
}
.services__tabs .tab > p {
  margin-top: 1rem;
  font-size: 1.2rem;
}
.tab-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 3rem 0 4rem; */
}
.services .feature--detail {
  width: 100%;
}
.services__tabs img {
  max-width: 85px;
}
.services .feature--detail h3 {
  color: var(--color-font-heading);
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.services .feature--image {
  display: none;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: flex;
}
.tab.active {
  opacity: 1;
}
@media (min-width: 1024px) {
  .services__tabs img {
    max-width: 100%;
  }
  .services__tabs .tab > p {
    font-size: 1.5rem;
  }
  .services .feature--detail {
    width: 50%;
  }
  .services .feature--detail h3 {
    font-size: 2.8rem;
  }
  .services .feature--image {
    display: flex;
    justify-content: center;
  }
}
